* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(35deg, #0394a3, #f5e2f9, #c66b96);
}
.formstyle {
  width: 400px;
  height: auto;
  background-color: #24303c;
  padding: 20px;
  margin: auto;
  border-radius: 7px;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo {
  margin-bottom: 30px;
}
.nombre-email-edad {
  display: flex;
  flex-direction: column;

}
.form1 {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #24303c;
  color: aliceblue
}
.casillas {
  display: flex;
  flex-direction: column;
}
.radio {
  display: flex;
  flex-direction: row;
}